* {
    font-family: 'Playfair Display', serif;
  }
  
  body {
  background-color: rgb(0, 0, 0);
  color:white;
  }

  section {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 25px;
    color:white;
    }

    h1 {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 50px;

        color:white;
        
    }

    .logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;

    }

    .card {
        background-color: #000000;
        width: 280px;
        height: 300px;
        box-shadow: 2px 5px 5px 9px rgba(108, 233, 189, 0.646);
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        display:flex;
        position: relative;
        border-radius: 5px;
        top: auto;
        
        }

        button {
            border-radius: 15px;
            background-color: rgba(108, 233, 189, 0.646);
            color:white
        }