.add-btn {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

.add-btn:hover {
  cursor: pointer;
}

.add-btn-stuff {
  padding: none !important;
  background: linear-gradient(
    -45deg,
    #0c4b44,
    #52e1b4
  ) !important;
}

.add-btn-stuff:hover {
  background: linear-gradient(
    -45deg,
    #06312b,
    #3ab697
  ) !important;
}

.add-btn-stuff:hover > .add-btn-body {
  transform: scale(1.3);
  transition: 200ms ease-in-out;
}

@media screen and (max-width: 600px) {
  .add-btn {
    bottom: 5%;
    right: 5%;
  }

  .add-btn-stuff {
    padding: none !important;
    background: linear-gradient(
      -45deg,
      #4b0c1b,
      #e1526a
    ) !important;
  }
}