* {
  font-family: "Playfair Display", serif !important;
}

body {
  background-color: rgb(0, 0, 0) !important;
  color: white !important;
}

#btm {
  padding-bottom: 20%;
}

.blobs {
  position: relative;
  grid-auto-rows: auto;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 55px;
  color: white;
  padding-left: 80px;
  z-index: 0;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 30%;
}

.log-btn {
  background-color: rgba(108, 233, 189, 0.646);
  border-radius: 15px;
  width: 100px;
  height: 40px;
  margin: 10px;
  position: absolute;
  top: 5%;
  right: 5%;
}

.log-btn:hover {
  background-color: rgba(108, 233, 189, 0.8);
  cursor: pointer;
}

.card {
  background-color: #000000;
  width: 280px;
  height: 370px;
  box-shadow: 2px 5px 5px 9px rgba(108, 233, 189, 0.646);
  top: auto;
}

button {
  border-radius: 15px;
  background-color: rgba(108, 233, 189, 0.646);
  color: white;
}

.title {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.listSearch {
  z-index: 100;
  position: absolute;
  background-color: rgb(0, 91, 63);
  border-radius: 25px;
  left: 10%;
  top: 10%;
  margin: none;
  padding: 1px 15px;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans Bold", sans-serif !important;
}

.form-control {
  background-color: rgb(17, 17, 17);
  border: none;
  color: rgb(176, 176, 176);
  border-radius: 25px;
  padding: 0 10px;
  margin: 0 10px;
}

@media screen and (max-width: 600px) {
  .listSearch {
    left: 15%;
  }

  .card {
    box-shadow: none;
  }
}
